.iconBar {
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  width: 620px;
  height: 67px;
  border-bottom: 1px solid #f9f9f9;
  border-left: 1px solid #f9f9f9;
  padding: 18px;
  .iconBar__header {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #0a3465;
  }
  .iconBar__icon {
    .iconBar__iconSearch {
      margin-right: 26px;
      cursor: pointer;
      color: #dedede;
    }
    .iconBar__iconPerson {
      margin-right: 26px;
      cursor: pointer;
      color: #dedede;
    }
    .iconBar__iconCreate {
      cursor: pointer;
      color: #dedede;
    }
  }
}
