@mixin textarea {
  background: #ffffff;
  border: 1px solid #eceef1;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  resize: none;
  outline: none;
}

@mixin button {
  width: 366px;
  height: 49px;
  left: 537px;
  top: 610px;
  background: #ffdf36;
  border-radius: 12px;
  cursor: pointer;
  border: none;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #68572d;
}

.post__commentsContainer {
  padding: 40px 37px;
  .post__commentsHeader {
    margin-bottom: 37px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #0a3465;
  }
}
.post__commentsInputContainer {
  width: 602px;
  .post__commentsInputHeader {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0a3465;
  }
  .post__commentsInput {
    @include textarea;

    margin-bottom: 22px;
    width: 602px;
    height: 90px;
  }
  .post__commentsButton {
    @include button;

    margin-bottom: 10px;
    float: right;
    width: 130px;
    height: 45px;
  }
}
