@mixin button {
    width: 366px;
    height: 49px;
    left: 537px;
    top: 610px;
    background: #ffdf36;
    border-radius: 12px;
    cursor: pointer;
    border: none;
  
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #68572d;
  }
  
  @mixin textarea {
    background: #ffffff;
    border: 1px solid #eceef1;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    resize: none;
    outline: none;
  }

.create {
    width: 602px;
    height: 650px;
    padding: 50px 68px;
    .create__headerContainer {
      .create__context {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        color: red;
        position: absolute;
      }
      .create__headerInput {
        border: none;
        height: 52px;
        font-style: normal;
        font-weight: 800;
        font-size: 42px;
        line-height: 52px;
        color: #d7d7d7;
        outline: none;
      }
    }
    .create__descriptionContainer {
      margin-top: 25px;
      .create__context {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        color: red;
        position: absolute;
      }
      .create__header {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #0a3465;
      }
      .create__input {
        @include textarea;
        width: 602px;
        height: 90px;
        resize: none;
      }
    }
  
    .create__linkContainer {
      width: 602px;
      margin-top: 30px;
      .create__header {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #0a3465;
      }
      .create__form {
        .create__context {
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 100%;
          color: red;
          position: absolute;
        }
        .create__container{
          display: flex;
          justify-content: space-between;
          .create__input {
          @include textarea;
          width: 442px;
          height: 45px;
          margin-right: 15px;
        }
        .create__button {
          @include button;
          color: #ffffff;
          background: #6fcf97;
          width: 145px;
          height: 45px;
        }
      }
    }
    }
    .create__textContainer {
      margin-top: 30px;
      margin-bottom: 30px;
      .create__context {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        color: red;
        position: absolute;
      }
      .create__header {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #0a3465;
      }
      .create__input {
        @include textarea;
        width: 602px;
        height: 330px;
      }
    }
    .create__button {
      @include button;
      width: 160px;
    }
  }
