.profile {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    .profile__container {
      width: 620px;
      height: 670px;
      .profile__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .profile__headerContainer {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 25px;
        .profile__header {
          font-style: normal;
          font-weight: 800;
          font-size: 58px;
          line-height: 52px;
          color: #0058d9;
        }
      }
      
      .profile__toggle {
        display: flex;
        margin-top: 20px;
        .open {
          color: #36b55a;
          background: rgba(64, 210, 105, 0.08);
          border-radius: 4px;
        }
        .profile__togglePosts {
          width: 120px;
          height: 32px;
          padding-top: 5px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          cursor: pointer;
        }
        .profile__toggleComments {
          width: 120px;
          height: 32px;
          padding-top: 5px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }